<html lang="vi-VN" xmlns:th="http://www.w3.org/1999/xhtml">



<title>Trang Chủ</title>


<link rel="stylesheet" th:href="@{/assets/plugins/Hover-master/css/hover-min.css}">
<link rel="stylesheet" th:href="@{/assets/plugins/Semantic-UI/semantic.min.css}">

<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/themes/default/1993/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/modules/images/image.css}">

<style>@import url('/assets/css/globalfontface.css');</style>


</head>
<style th:inline="text">

</style>
<body class="lien-he ">
<div id="fb-root"></div>
<div id="wm-primary-dimmer" class="ui page dimmer"> <div class="content"> <div class="ui text loader">Loading</div> </div> </div>
<div class="pusher">
    <div class="ui padded grid"><div class="menu-main  wm-mobile column"><div id="menu-main" class="ui grid  wm-mobile container"><div class="three wide large three wide computer sixteen wide tablet sixteen wide mobile column center aligned middle aligned">
        <style>.wm-module.wm-image .image-94:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-94{cursor: pointer;}</style>
        <div class="wm-module wm-image logo">
            <div class="image-94">
                <style>
                    .text_avatar{
                        font-size: 36px!important;
                        font-family: 'Pacifico'!important;
                        color: #383838!important;
                        line-height: 54px!important;
                    }
                </style>
                <div class="text_avatar ui fluid image">Quick Food</div>
            </div>
        </div>
    </div><div class="nine wide large nine wide computer sixteen wide tablet sixteen wide mobile column center aligned middle aligned">		<nav class="wm-module wm-menu ui default  menu menu-main-h computer only wm-men-996">
        <a class="item" href="../post-category/gioi-thieu/index.html"><i class="icon  wechat "></i>Giới thiệu</a><div class="ui simple dropdown autooff item"><a href="../pro-category/thuc-don/index.html"><i class="icon birthday"></i>Thực đơn</a><i class="dropdown icon"></i><div class="menu"><a class="item" href="../pro-category/banh-pizza/index.html">Bánh pizza</a><a class="item" href="../pro-category/burgers/index.html">Burgers</a><a class="item" href="../pro-category/tosts/index.html">Tosts</a><a class="item" href="../pro-category/xa-lach-1/index.html">Xà lách</a><a class="item" href="../pro-category/mon-trang-mieng/index.html">Món tráng miệng</a><a class="item" href="../pro-category/thuc-uong/index.html">Thức uống</a></div></div><a class="item" href="../post-category/tin-tuc/index.html"><i class="icon newspaper"></i>Tin tức</a><a class="item wm active" href="index.html"><i class="icon add user"></i>Liên hệ</a><div class="menu right"></div>		</nav>
        <nav class="wm-module wm-menu ui responsive  fluid menu menu-mobile tablet mobile only wm-men-335">
            <div class="menu-header">
                <a href="#mmenu-tgle-wm-men-335" class="toggle-menu ui basic button" data-mn-title="menu"><i class="icon align justify"></i> menu</a>
            </div>
            <div class="data-menu-mobile" data-target="mmenu-tgle-wm-men-335" style="display:none">
                <li><a href="../post-category/gioi-thieu/index.html"><i class="icon  wechat "></i>Giới thiệu</a></li><li><a href="../pro-category/thuc-don/index.html"><i class="icon birthday"></i>Thực đơn</a><ul><li><a href="../pro-category/banh-pizza/index.html">Bánh pizza</a></li><li><a href="../pro-category/burgers/index.html">Burgers</a></li><li>
                <a href="../pro-category/tosts/index.html">Tosts</a></li><li><a href="../pro-category/xa-lach-1/index.html">Xà lách</a></li><li><a href="../pro-category/mon-trang-mieng/index.html">Món tráng miệng</a></li><li><a href="../pro-category/thuc-uong/index.html">Thức uống</a></li></ul></li><li><a href="../post-category/tin-tuc/index.html"><i class="icon newspaper"></i>Tin tức</a></li><li class="wm mm-selected">
                <a href="index.html"><i class="icon add user"></i>Liên hệ</a></li>			</div>

        </nav>
    </div><div class="four wide large four wide computer sixteen wide tablet sixteen wide mobile column center aligned middle aligned">		<nav class="wm-module wm-menu ui default  menu tt-hotline computer tablet mobile only wm-men-418">
        <a class="item" href="tel:02866860863/"><i class="icon phone"></i>02866860863</a><a class="item" href="../carts/index.html"><i class="icon in cart"></i> </a><div class="menu right"></div>		</nav>
    </div></div></div></div>
    <div class="intro">
        <div class="intro-slideshow">
            <img src="https://quickfood.weba.vn/shop/images/quickfood/slider/1.png">
            <img src="https://quickfood.weba.vn/shop/images/quickfood/slider/2.png">

        </div>

    </div>
    <div class="ui padded grid"><div class="row-one  wm-mobile column"><div id="row-one" class="ui wm equal width pc grid  wm-mobile container"><div class="sixteen wide large sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-32:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-32{cursor: auto;</style>
        <div class="wm-module wm-image img-home">
            <div class="image-32">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/index-01-566x401.jpg" alt="Đối với người ăn chay">
                <div class="content" style="text-align:center;top:20%;">
                    <div class="ui large header">
                        <div class="animated ">
                            NGƯỜI ĂN CHAY <br>
                            <span>Burger + Pháp Fries + Drin</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wm-module wm-free-text detail-img">
            <h2 class="ui header"></h2>
        </div></div><div class="sixteen wide large sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-92:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-92{cursor: auto;</style>
        <div class="wm-module wm-image img-home">
            <div class="image-92">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/index-02-566x401.jpg" alt="Đặt hàng trực tuyến">
                <div class="content" style="text-align:center;top:20%;colordefault;">
                    <div class="ui medium header">
                        <div class="animated ">
                            ĐẶT HÀNG TRỰC TUYẾN<br>
                            <span>Có sẵn Mỗi Ngày 9: 00-23: 00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wm-module wm-free-text detail-img">
            <h2 class="ui header"></h2>
        </div></div><div class="sixteen wide large sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-40:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-40{cursor: auto;</style>
        <div class="wm-module wm-image img-home">
            <div class="image-40">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/index-03-566x401.jpg" alt="Bánh đặc biệt">
                <div class="content" style="text-align:center;top:20%;colordefault;">
                    <div class="ui default header">
                        <div class="animated ">
                            BÁNH ĐẶT BIỆT<br>
                            <span>Mỗi Thứ Sáu chỉ có $ 0,99</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wm-module wm-free-text detail-img">
            <h2 class="ui header"></h2>
        </div></div></div></div></div>
    <div class="ui padded grid"><div class="products row-two  wm-mobile column"><div id="products" class="ui grid  wm-mobile container"><div class="sixteen wide large sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><div class="wm-module wm-free-text">
        <h2 class="ui header">Menu của chúng tôi</h2>
    </div><div class="wm-tab-ct-product-294"><script>
        if(typeof list_pros_tabs === 'undefined') var list_pros_tabs = [];
        list_pros_tabs.push('pro-tab-product-294');
    </script>
        <div class="ui pointing secondary menu autooff pro-tab-product-294">
            <a class="item active" data-tab="product-29424468">
                Bánh pizza			</a>
            <a class="item" data-tab="product-29424469">
                Burgers			</a>
            <a class="item" data-tab="product-29424473">
                Món tráng miệng			</a>
        </div>
        <script>
            $(".pro-tab-product-294 .item").on("click",function(){window.dispatchEvent(new Event('resize'));});
        </script>

        <div  class="wm-module wm-product products-h dele-header ui active tab" data-tab="product-29424468">
            <div class="ui dividing header">Bánh pizza</div>
            <div class="ui stackable link cards three pro-code-product-294-1"> <!-- items / cards -->
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/nguoi-hawaii.html'">
                        <div class="ui dimmer transition hidden"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/pizzas-1-310x260.png" class="visible content" alt="nguoi-hawaii"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/nguoi-hawaii.html" class="header"><h2>Người Hawaii</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="1000000"> 1,000,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39737">
                        <div class="ui button" onclick="addtoCart(event,undefined,39737);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/sicilian.html'">
                        <div class="ui dimmer transition hidden"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/pizzas-2-310x260.png" class="visible content" alt="sicilian"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/sicilian.html" class="header"><h2>Sicilian</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="1000000"> 1,000,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39736">
                        <div class="ui button" onclick="addtoCart(event,undefined,39736);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/pho-mat-co-dien.html'">
                        <div class="ui dimmer transition hidden"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/pizzas-3-310x260.png" class="visible content" alt="pho-mat-co-dien"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/pho-mat-co-dien.html" class="header"><h2>Pho mát Cổ điển</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="1000000"> 1,000,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39735">
                        <div class="ui button" onclick="addtoCart(event,undefined,39735);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/margherita.html'">
                        <div class="ui dimmer transition hidden"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/pizzas-4-310x260_(1).png" class="visible content" alt="margherita"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/margherita.html" class="header"><h2>Margherita</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="1230000"> 1,230,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39734">
                        <div class="ui button" onclick="addtoCart(event,undefined,39734);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/neapolitan.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/pizzas-5-310x260.png" class="visible content" alt="neapolitan"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/neapolitan.html" class="header"><h2>Neapolitan</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="1000000"> 1,000,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39733">
                        <div class="ui button" onclick="addtoCart(event,undefined,39733);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/pepperoni.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/pizzas-4-310x260.png" class="visible content" alt="pepperoni"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/pepperoni.html" class="header"><h2>Pepperoni</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="1000000"> 1,000,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39732">
                        <div class="ui button" onclick="addtoCart(event,undefined,39732);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
            </div> <!-- end cards -->
        </div> <!-- end wm-module || tab -->
        <!-- <script type="text/javascript">
$('.fillter-search').change(function(){
        var params = {

            }
    $.post('/quantri/ajx/ajax.php', params, function(data) {

    });
});
</script> -->
        <div class="wm-module wm-product products-h dele-header ui tab" data-tab="product-29424469">
            <div class="ui dividing header">Burgers</div>
            <div class="ui stackable link cards three pro-code-product-294-2"> <!-- items / cards -->
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/burger-co-dien.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/menu-modern-2-310x260.png" class="visible content" alt="burger-co-dien"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/burger-co-dien.html" class="header"><h2>Burger cổ điển</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="7000"> 7,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39731">
                        <div class="ui button" onclick="addtoCart(event,undefined,39731);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/mini-burger.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/menu-modern-3-310x260.png" class="visible content" alt="mini-burger"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/mini-burger.html" class="header"><h2>Mini Burger</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="550000"> 550,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39730">
                        <div class="ui button" onclick="addtoCart(event,undefined,39730);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/california-burger.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/menu-modern-6-310x260.png" class="visible content" alt="california-burger"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/california-burger.html" class="header"><h2>California Burger</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="7000"> 7,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39729">
                        <div class="ui button" onclick="addtoCart(event,undefined,39729);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/double-burger.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/menu-modern-5-310x260.png" class="visible content" alt="double-burger"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/double-burger.html" class="header"><h2>Double Burger</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="550000"> 550,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39728">
                        <div class="ui button" onclick="addtoCart(event,undefined,39728);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/ga-burger.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/menu-modern-4-310x260.png" class="visible content" alt="ga-burger"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/ga-burger.html" class="header"><h2>Gà burger</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="7000"> 7,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39727">
                        <div class="ui button" onclick="addtoCart(event,undefined,39727);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/burger-mexico.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/menu-modern-1-310x260.png" class="visible content" alt="burger-mexico"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/burger-mexico.html" class="header"><h2>Burger Mexico</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="7000"> 7,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39726">
                        <div class="ui button" onclick="addtoCart(event,undefined,39726);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
            </div> <!-- end cards -->
        </div> <!-- end wm-module || tab -->
        <!-- <script type="text/javascript">
$('.fillter-search').change(function(){
        var params = {

            }
    $.post('/quantri/ajx/ajax.php', params, function(data) {

    });
});
</script> -->
        <div class="wm-module wm-product products-h dele-header ui tab" data-tab="product-29424473">
            <div class="ui dividing header">Món tráng miệng</div>
            <div class="ui stackable link cards three pro-code-product-294-3"> <!-- items / cards -->
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/macaroons-phap.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/deserts-1-310x260.png" class="visible content" alt="macaroons-phap"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/macaroons-phap.html" class="header"><h2>Macaroons Pháp</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="7000"> 7,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39749">
                        <div class="ui button" onclick="addtoCart(event,undefined,39749);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/banh-nuong-xop-viet-quat.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/deserts-2-310x260.png" class="visible content" alt="banh-nuong-xop-viet-quat"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/banh-nuong-xop-viet-quat.html" class="header"><h2>Bánh nướng xốp việt quất</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="7000"> 7,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39748">
                        <div class="ui button" onclick="addtoCart(event,undefined,39748);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/banh-donuts.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/deserts-3-310x260.png" class="visible content" alt="banh-donuts"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/banh-donuts.html" class="header"><h2>Bánh donuts</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="1230000"> 1,230,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39747">
                        <div class="ui button" onclick="addtoCart(event,undefined,39747);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/kem.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/deserts-4-310x260_(1).png" class="visible content" alt="kem"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/kem.html" class="header"><h2>Kem</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="7000"> 7,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39746">
                        <div class="ui button" onclick="addtoCart(event,undefined,39746);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/banh-xeo.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/deserts-5-310x260.png" class="visible content" alt="banh-xeo"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/banh-xeo.html" class="header"><h2>Bánh xèo</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="7000"> 7,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39745">
                        <div class="ui button" onclick="addtoCart(event,undefined,39745);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ui image wm-dimmer blurring dimmable" onclick="location.href='https://quickfood.weba.vn/p/banh-so-co-la-so-co-la.html'">
                        <div class="ui dimmer"></div><img src="https://quickfood.weba.vn/shop/images/quickfood/product/deserts-4-310x260.png" class="visible content" alt="banh-so-co-la-so-co-la"></div>
                    <div class="content">
                        <a href="https://quickfood.weba.vn/p/banh-so-co-la-so-co-la.html" class="header"><h2>Bánh sô cô la sô cô la</h2></a><div class="left floated meta">
                        <p class="ui red header"><small class="current-price" price="550000"> 550,000 Đ</small></p>
                    </div>
                    </div>
                    <div class="button-group ui buttons bottom two attached" data-p="39744">
                        <div class="ui button" onclick="addtoCart(event,undefined,39744);">
                            <i class="cart icon"></i> Đặt hàng trực tuyến	</div>
                    </div>
                </div>
            </div> <!-- end cards -->
        </div> <!-- end wm-module || tab -->
        <!-- <script type="text/javascript">
$('.fillter-search').change(function(){
        var params = {

            }
    $.post('/quantri/ajx/ajax.php', params, function(data) {

    });
});
</script> -->
    </div></div></div></div></div>
    <div id="row-three" class="row-three ui padded grid"><div class="sixteen wide large sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><div class="wm-module wm-free-text">
        <h2 class="ui header">     </h2>
        <div class="content">
            <p style="text-align: center;"><span style="font-size: 36pt;"><strong>Free Delivery </strong></span></p>
            <p style="text-align: center;"><span style="font-size: 45pt;"><strong>SANDWICH DAY </strong></span></p>
            <p style="text-align: center;"><span style="font-size: 18pt;">$399 </span></p>
            <p style="text-align: center;"><span style="font-size: 12pt;"><span>Sandwich Salad Drink</span></span></p>            </div>
    </div></div></div>
    <div class="ui padded grid" style="background: #fff8c4;"><div class="row-four  wm-mobile column"><div id="row-four" class="ui wm equal width pc grid  wm-mobile container"><div class="four wide large four wide computer sixteen wide tablet sixteen wide mobile column tt-co-ban wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-11:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-11{cursor: auto;</style>
        <div class="wm-module wm-image icon-tt">
            <div class="image-11">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/1.png" alt="CHUYỂN PHÁT NHANH">
            </div>
        </div>

        <div class="wm-module wm-free-text tt-auto">
            <h2 class="ui header">GIAO HÀNG NHANH</h2>
            <div class="content">
                <p><span style="font-size: 12pt;"><span>Mọi thứ bạn đặt hàng tại QuickFood sẽ nhanh chóng được gửi đến cửa nhà bạn.</span></span></p>            </div>
        </div></div><div class="four wide large four wide computer sixteen wide tablet sixteen wide mobile column tt-co-ban wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-84:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-84{cursor: auto;</style>
        <div class="wm-module wm-image icon-tt">
            <div class="image-84">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/2.png" alt="THỨC ĂN SẠCH">
            </div>
        </div>
        <div class="wm-module wm-free-text tt-auto">
            <h2 class="ui header">THỨC ĂN SẠCH</h2>
            <div class="content">
                <p><span>Chúng tôi chỉ sử dụng các thành phần tốt nhất để nấu món ăn tươi ngon cho bạn.</span></p>            </div>
        </div></div><div class="four wide large four wide computer sixteen wide tablet sixteen wide mobile column tt-co-ban wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-87:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-87{cursor: auto;</style>
        <div class="wm-module wm-image icon-tt">
            <div class="image-87">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/3.png" alt="ĐẦU BẾP GIÀU KINH NGHIỆM">
            </div>
        </div>
        <div class="wm-module wm-free-text tt-auto">
            <h2 class="ui header">ĐẦU BẾP GIÀU KINH NGHIỆM</h2>
            <div class="content">
                    <p><span style="font-size: 12pt;"><span>Nhân viên của chúng tôi bao gồm đầu bếp và đầu bếp với nhiều năm kinh nghiệm.</span></span></p>            </div>
            </div></div><div class="four wide large four wide computer sixteen wide tablet sixteen wide mobile column tt-co-ban wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-100:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-100{cursor: auto;</style>
            <div class="wm-module wm-image icon-tt">
                <div class="image-100">
                    <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/4.png" alt="MỘT LOẠT CÁC MÓN ĂN">
                </div>
            </div>
            <div class="wm-module wm-free-text tt-auto">
                <h2 class="ui header">THỰC ĐƠN PHONG PHÚ</h2>
                <div class="content">
                    <p><span style="font-size: 12pt;"><span>Trong thực đơn của chúng tôi, bạn sẽ tìm thấy rất nhiều món ăn, món tráng miệng và đồ uống.</span></span></p>            </div>
            </div></div></div></div></div>
    <div id="row-five" class="row-five ui padded wm equal width pc grid"><div class="sixteen wide large sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-44:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-44{cursor: auto;</style>
        <div class="wm-module wm-image">
            <div class="image-44">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/index-gallery-1-480x394.jpg" alt="hình 1">
            </div>
        </div>
    </div><div class="sixteen wide large sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-9:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-9{cursor: auto;</style>
        <div class="wm-module wm-image">
            <div class="image-9">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/index-gallery-2-480x394.jpg" alt="hình 2 \" trên="" bản="" đồ="" \""="">
            </div>
        </div>
    </div><div class="sixteen wide large sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-7:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-7{cursor: auto;</style>
        <div class="wm-module wm-image">
            <div class="image-7">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/index-gallery-3-480x394.jpg" alt="hình 3 \" trên="" bản="" đồ="" \""="">
            </div>
        </div>
    </div><div class="sixteen wide large sixteen wide computer sixteen wide tablet sixteen wide mobile column wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><style>.wm-module.wm-image .image-91:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-91{cursor: auto;</style>
        <div class="wm-module wm-image">
            <div class="image-91">
                <img class="ui fluid image" src="https://quickfood.weba.vn/shop/images/quickfood/hinhanh/index-gallery-4-480x394.jpg" alt="hình 4 \" trên="" bản="" đồ="" \""="">
            </div>
        </div>
    </div></div>

    <div >

        <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.684254869503!2d106.70676642475235!3d10.785086936675276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1547181657956"  height="350" frameborder="0" style="border:0 ;width: 100%;" ></iframe>
    </div>
    <div class="ui padded grid"><div class="footer-top  wm-mobile column"><div id="row-fotter-one" class="ui wm equal width pc grid  wm-mobile container"><div class="sixteen wide large four wide computer sixteen wide tablet sixteen wide mobile column"><style>.wm-module.wm-image .image-7:before{z-index: 2; background: rgba(0, 0, 0, 0.51);}.wm-module.wm-image .image-7{cursor: auto;</style>
        <div class="wm-module wm-image">
            <div class="image-7">
                <style>
                    .text_avatar{
                        font-size: 36px!important;
                        font-family: 'Pacifico'!important;
                        color: #383838!important;
                        line-height: 54px!important;
                    }
                </style>
                <div class="text_avatar ui fluid image">Quick Food</div>
            </div>
        </div>
        <div class="wm-module wm-free-text detail-f">
            <div class="content">
                <h5><span style="color: #ffffff;"><strong></strong><strong><span style="font-size: 10.5pt; font-family: Verdana; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Công Ty TNHH Thanh Mafia</span></strong></span></h5>
                <div class="f-contact-item">Address : Ngõ 63/1/33 Trần Quốc Vượng,Phường Dịch Vọng Hậu,Quận Cầu Giấy,Thành Phố Hà Nội</div>
                <div class="f-contact-item">Hot Line: 0347048477</div>
              </div>
        </div></div><div class="sixteen wide large three wide computer sixteen wide tablet sixteen wide mobile column"><div class="wm-module wm-free-text title-footer">
        <h2 class="ui header">Menu của chúng tôi</h2>
    </div>		<nav class="wm-module wm-menu ui inverted red vertical  fluid borderless menu detail-f computer tablet mobile only wm-men-141">
        <a class="item" href="https://quickfood.weba.vn/pro-category/banh-pizza/">Bánh pizza</a><a class="item" href="https://quickfood.weba.vn/pro-category/xa-lach-1/">Xà lách</a><a class="item" href="https://quickfood.weba.vn/pro-category/burgers/">Burgers</a><a class="item" href="https://quickfood.weba.vn/pro-category/mon-trang-mieng/">Món tráng miệng</a><a class="item" href="https://quickfood.weba.vn/pro-category/tosts/">Tosts</a><div class="menu right"></div>		</nav>
    </div><div class="sixteen wide large six wide computer sixteen wide tablet sixteen wide mobile column"><div class="wm-module wm-free-text title-footer">
        <h2 class="ui header">Nhận tin khuyến mãi</h2>
    </div>
        <form action="" method="post" name="form-1" class="ui form ">
            <input type="text" class="hidden" style="display:none!important" name="act" value="act-1">
            <div class="required field"><label for="txtEmail">Email</label>
                <input type="text" name="txtContact_email[value]" value="" placeholder="">
                <input type="hidden" name="txtContact_email[required]" value="required">
            </div><div class="field">
            <div class="g-recaptcha" data-sitekey="" language="vi"></div>
        </div>
            <button type="submit" class="ui huged submit primary button" name="btn-submit-contact">Đăng ký</button>
        </form></div></div></div></div>
</div>
<style>

    @import url('https://fonts.googleapis.com/css?family=Montserrat');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .intro {
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1rem;
    }
    .intro-slideshow img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
        height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */
        object-fit: cover;
        z-index:-1;
        /* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
        /* display: none; */
        opacity: 0;
        transition: opacity 0.75s ease-in-out;
    }
    /* .intro-slideshow img:first-child {
      display: block;
      opacity: 1;
    } */
    .intro .intro-header {
        border-radius: 0.5rem;
        padding: 2rem 2.5rem;
        background-color: rgba(0,0,0,0.5);
    }
    .intro h1 {
        font-size: 4rem;
        margin-bottom: 0.75rem;
    }
    .intro p {
        font-size: 1.75rem;
    }

    @media (max-width: 700px) {
        html { font-size: 12px; }
        .intro-header { padding: 1.5rem 2rem; }
        .intro h1 { font-size: 2.5rem; }
        .intro p { font-size: 1.25rem; }
    }
</style>
<script>
    const slideshowImages = document.querySelectorAll(".intro-slideshow img");

    const nextImageDelay = 5000;
    let currentImageCounter = 0; // setting a variable to keep track of the current image (slide)

    // slideshowImages[currentImageCounter].style.display = "block";
    slideshowImages[currentImageCounter].style.opacity = 1;

    setInterval(nextImage, nextImageDelay);

    function nextImage() {
        // slideshowImages[currentImageCounter].style.display = "none";
        slideshowImages[currentImageCounter].style.opacity = 0;

        currentImageCounter = (currentImageCounter+1) % slideshowImages.length;

        // slideshowImages[currentImageCounter].style.display = "block";
        slideshowImages[currentImageCounter].style.opacity = 1;
    }
</script>
<script type="text/javascript">
    if ((typeof config_slider) === 'undefined') {
        config_slider = [];
    }
    var config = {};
    var str_custom = "";
    if(str_custom !== ''){
        config = eval('()');
    }else{
        var animateOut = "default";
        var animateIn = "default";
        var animateOut_final, animateIn_final;
        if(animateOut == 'default'){
            animateOut_final = false;
        }else{
            animateOut_final = animateOut;
        }
        if(animateIn == 'default'){
            animateIn_final = false;
        }else{
            animateIn_final = animateIn;
        }
        config = {
            animateOut: animateOut_final,
            animateIn: animateIn_final,
            smartSpeed: "1000",
            onInitialized  :function(){text_animate(this.$element,"Initialized");},
            responsive:{
                0:{
                    items: 1,
                    nav: true,
                    dots: false,
                    loop: true,
                    autoplay: false                    },
                768:{
                    items: 1,
                    nav: false,
                    dots: true,
                    loop: true,
                    autoplay: false                    },
                993:{
                    items: 1,
                    nav: false,
                    dots: true,
                    loop: true,
                    autoplay: false                    },
                1200:{
                    items: 1,
                    nav: false,
                    dots: true,
                    loop: false,
                    autoplay: true                    }
            }
        }
    }
    var config_slider_tmp = {
        id: "owl_carousel_110",
        config: config
    };
    config_slider.push(config_slider_tmp);
    // console.log(config_slider_tmp);
</script>


</div>
</div>
</div>
</div>
</div>











<script src="../public/js/app/app.min.js"></script>



</body>
</html>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>
